@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');



body {
background-color:  #a8d0e6;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
  color: #374785;
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  color: #f76c6c;
  font-size: 20px;
}


#Branches {
  text-align: left;
  margin-left: 10px
}


ul {
  text-align: center;
  background: #f8e9a1;
  margin-left: 200px
  margin-right: 200px 
}


  li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

  P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
img {
    width: 400px;
}
