<!DOCTYPE css>
<css>
body {

color: purple;
font-family: "Courier New", Courier, monospace

}
p {
  color: darkblue;
  font-size: 48px;
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: lightblue;
  text-align: right;
  font-size: 5em;
}


ul {
    padding: 10px;
    background: black;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
</css>
