<!DOCTYPE css>
body {

color: purple;
font-family: "Courier New", Courier, monospace

}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: lightblue;
  text-align: right;
  font-size: 30px;
}

p {
  color: darkblue;
  font-size: 20px;
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
}


ul {
    padding: 10px;
    background: orange;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
